.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.entContainer {
  background-color: #2F4F4F;
  color: white;
  width: 40%;
  border-radius: 10px;
  height: 200px;
  word-wrap: break-word;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  box-shadow: 5px 5px black;
}

.redLetter {
  color: red;
}

.underlined {
  text-decoration: underline;
}

.yourPodcasts {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: -40px;
}

.yourPodcastOverallContainer div {
  width: 100%;
}

.yourArticleOverallContainer div {
  width: 100%;
}

.yourPodcasts li img {
  height: 150px;
}



.yourPodcastOverallContainer {
  background-color: #4f4f2f;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  width: 90%;
  border-radius: 10px;
  color: white;
  margin-bottom: 20px;
  margin-top: 20px;
  /*box-shadow: 5px 5px black;*/
}

.yourArticleOverallContainer div ul li img {
  height: 100px;
}

.yourArticleOverallContainer div ul li {
  /*margin-left: -50px;*/
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.yourArticleOverallContainer {
  background-color: #4f2f2f;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  width: 90%;
  border-radius: 10px;
  color: white;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 5px 5px black;
}

.articleUl {
  width: 90%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: -40px;
}

.buttonCol {
  width: 10%;
}

.popularPodcastsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4f4f2f;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  width: 90%;
  border-radius: 10px;
  color: white;
  height: 400px;
  width: 40%;
  box-shadow: 5px 5px black;
}

.newsImg {
  height: 75px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.newsBtn {
  margin:10px 0 10px -10px;
}

.popularArticlesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4f2f2f;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  width: 90%;
  border-radius: 10px;
  color: white;
  height: 400px;
  width: 40%;
  box-shadow: 5px 5px black;
}

.newsImage {
  /*height: 300px;*/
  width: 80%;
  border-radius: 20px;
  box-shadow: 5px 5px black;
  margin-top: 20px;
}

.newsShow {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4f2f2f;
  width: 90%;
  border-radius: 10px;
  color: white;
  box-shadow: 5px 5px black;
  padding: 10px;
  margin-bottom: 20px;
}

.readNow {
  margin-bottom: 20px
}

.recommendedPodcastContainer {

}
 
.liContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.podcastCol {
  width: 80%;
  word-wrap: break-word;
}

.popularPodcastsContainer div ul li img {
  height: 100px;

}

.popularPodcastsContainer li img {
  height: 100px;

}



.podcastImg {
  margin-left: 10px;
}

.popularPodcastsContainer li {
  margin-bottom: 10px;
  /*margin-left: -10px;*/
}

.addRec {
  margin-left: -20px;
}

.popularPodcastsContainer div ul li {
  margin-bottom: 10px;
  margin-left: -30px;
}

.mapKey {
  color: white;
  background-color: #2F4F4F;
  border-radius: 10px;
  width: 300px;
  margin: 20px 0 20px 0;
}

.mapKey img {
  height: 20px;
}

.searchForm {
  margin-top: 10px;
}

.nameColumn {
  width: 60%;
}

.addCol {
  width: 15%;
}

.ent {
  margin-left: -30px;
  margin-bottom: 10px;
}

.addedNameColumn {
  width: 60%;
}
.deleteCol {
  width: 20%;
  margin-left: 10px;
}

.entContainer ul {
  width: 100%;
}

.mapDiv {
  margin-left: -20px;
}

.header {
  font-family: 'Fjalla One', sans-serif;
}

body {
  background-image: url('/Train-img.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.image-logo {
  border-radius: 50px;
  height: 200px;
}

.image-logo-small {
  border-radius: 40px;
  height: 100px;
}

.loginForm {
  background-color: #576E86;
  width: 270px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px black;
}

.currentDate {
  background-color: #576E86;
  color: white;
  border: 3px solid black;
  padding: 5px 3px 5px 3px;
  border-radius: 5px;
}

.tile {
  height: 150px;
  width: 150px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  box-shadow: 5px 5px black;
}

.tile:hover {
  cursor: pointer;
  border: 3px solid white;
}

#entPlanner {
  background-color: #2F4F4F;
}

#workPlanner {
  background-color: #4f2f4f;
}

#podcast {
  background-color: #4f4f2f;
}

#news {
  background-color: #4f2f2f;
}

.dateChanger {
  background-color: #576E86;
  color: white;
  border: 3px solid black;
  padding: 5px 3px 5px 3px;
  border-radius: 5px;
}

.taskForm {
  display: flex;
  justify-content: space-around;
}

.taskContainer {
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 85%;
  background-image: url('/notebook.jpg');
  border-radius: 20px;
  box-shadow: 5px 5px black;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.taskContainer li {
  margin-left: -30px;
  margin-bottom: 10px;
}

.loginForm input, .center-column-flex-container div form label input {
  border-radius: 5px;
  height: 20px;
  margin-bottom: 10px;
}

.newTaskForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}

.newTaskForm input {
  border-radius: 5px;
  background-color: #576E86;
  color: white;
}

.loading img {
  height: 100px;
}

.loading p {
  color: red;
  font-weight: bold;
}

.loading {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.newTaskForm input::placeholder {
  color: white;
  opacity: 0.8;
}

 .listHeader div div {
  font-size: 12px;
  text-decoration: underline;
  font-weight: bold;
 }



ul {
  list-style: none;
}

.login {
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.tileRow {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.completedColumn {
  display: flex;
  justify-content: center;
  width: 20%;
}

.priorityColumn {
  display: flex;
  justify-content: center;
  width: 10%;
  margin-left: 3px;
}

#podcastPlayingHidden {
  visibility: hidden;
  margin-top: 20px;
}

#podcastPlayingShowing {
  visibility: visible;
  margin-top: 20px;
}

.descriptionColumn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
  font-size: 12px;
  word-wrap: break-word;
}

.timeColumn {
  width: 15%;
}

.button {
  display: inline-block;
  padding: 5px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #AAAAAA;
  background-color: #222222;
  border: solid 3px #AAAAAA;
  border-radius: 5px;
  margin-right: 10px;
}

.button:hover {
  color: white;
  border: solid 3px white;
}

.redMessage {
  font-weight: bold;
  color: red;
}

.clickableImg {
  opacity: 0.7;
}

.clickableImg:hover {
  opacity: 1;
  cursor: pointer;
}

.overallEntContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  /*box-shadow: 5px 5px black;*/
}

.between-flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.center-column-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchForm input {
  margin-right: 15px;
  height: 20px;
  width: 200px;

}

.userDelete {
  margin-top: 10px;
}

.showingPodcast {
  margin-top: 20px;
}

.showingPodcast div img {
  border-radius: 20px;
  height: 220px;
}

.eps {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold
}

.eps:hover {
  cursor: pointer;
}

.podcastDescription {
 /*height: 200px;*/
 background-color: #4f4f2f;
 color: white;
 width: 50%;
 border-radius: 20px;
 overflow: scroll;
 -webkit-overflow-scrolling: touch;
 padding: 10px 10px 10px 10px;
 max-height: 200px;
 overflow: scroll;
 -webkit-overflow-scrolling: touch;
 margin-left: 10px;
 margin-right: 10px;
}

.epTrigger {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.epTrigger:hover {
  cursor: pointer;
/*  color: red;
  text-decoration: underline;*/
}

.buttonContainer button {
  margin-bottom: 5px;
}



@media only screen and (max-width: 660px) {
  .overallEntContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .entContainer {
    margin-bottom: 20px;
    width: 80%;
  }
}

@media only screen and (max-width: 560px) {
  .liContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .liContainer div button {
    margin-top: 5px;
    margin-left: -13px;
  }
}

@media only screen and (min-width: 660px) {
  .listHeader div div {
    font-size: 20px;
  }
}

@media only screen and (min-width: 730px) {
  .bodyDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .userHomeOverallDiv {
    width: 730px;

  }

  .newsImage {
    width: 584px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
